    <div id="mv-app" mv-app="nameDemo" mv-source="#data" mv-storage="https://github.com/kosirm/simplymavo/learn">
        <br>
        <section class="mw7 center avenir">
            <h2 property="ArticleHeader" class="baskerville fw1 ph3 ph0-l">
            </h2>
            <article property="article" mv-multiple class="bt bb b--black-10">
                <a class="db pv4 ph3 ph0-l no-underline black dim" href="#0">
                    <div class="flex flex-column flex-row-ns">
                        <div class="pr3-ns mb4 mb0-ns w-100 w-40-ns">
                            <img property="ArticleImage" src="" class="db" alt="Please insert photo." />
                        </div>
                        <div class="w-100 w-60-ns pl3-ns">
                            <h1 property="ArticleTitle" class="f3 fw1 baskerville mt0 lh-title">
                            </h1>
                            <p property="ArticleText" class="f6 f5-l lh-copy">
                            </p>
                            <p property="ArticleAuthor" class="f6 lh-copy mv0">
                            </p>
                        </div>
                    </div>
                </a>
            </article>
        </section>
    </div>